{% extends "layout.html" %}

{% block body %}
<div class="scroll backdroppic" id="home">
            <span>
              <a href="#about"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
            </span>
        </div>
      <div class="row scroll about next" id="about">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="titlebox">
            <h2>About Service</h2>
          </div>

          <span>
              <a href="#products"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>

      <div class="row scroll products" id="products">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="titlebox">
          <h2>Products</h2>
          </div>
          <div class="col-sm-12 col-md-offset-1 col-md-5 project1">
            <img src="http://placehold.it/250x150">
          </div>
          <div class="col-sm-12 col-md-5 project2">
            <img src="http://placehold.it/250x150">
          </div>
          <div class="col-sm-12 col-md-offset-1 col-md-5 project3">
            <img src="http://placehold.it/250x150">
          </div>
          <div class="col-sm-12 col-md-5 project4">
            <img src="http://placehold.it/250x150">
          </div>

          <span>
            <a href="#meetteam"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
          </span>
        </div>

      </div>
      <div class="row meetteam" id="meetteam">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="titlebox">
            <h2>Reservation</h2>

          <div class="container jumbotron">

        <form action="/submit_reservation" method="POST">
      <input type="text" id="datepicker" name="date" placeholder="10/12/2016" required>
      <div class="radio">
            <label>
            <input type="radio" name="size" value="md" checked>
            Medium Egg
          </label>
          <label>
            <input type="radio" name="size" value="lg">
            Large Egg
          </label>
          <label>
            <input type="radio" name="size" value="xl">
            Extra Large Egg
          </label>
        </div>

        <div class="radio">
              <label>
              <input type="radio" name="shift" value="Morning" checked>
              Morning
            </label>
            <label>
              <input type="radio" name="shift" value="Evening">
              Evening
            </label>
            <label>
              <input type="radio" name="shift" value="Tailgate">
              Tailgate
            </label>
          </div>

      <button type="submit" name="action" class="btn btn-default">Submit</button>

    </form>
    </div>
</div>



      {% endblock %}

    <script type="text/javascript" src="javascript/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="javascript/activenav.js"></script>
    <script type="text/javascript" src="javascript/main.js"></script>
</div>
