<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>
  <body>
    <section id="sidebar">
      <div class="inner">
        <nav>
          <ul>
            <li><a>HELLO, {{session['name'] or 'THERE'}}!</a></li>
            <li><a href="/">WELCOME</a></li>
            <li><a href="/reserve_date">RESERVE</a></li>
            {% if not session['name'] %}
            <li><a href="/login">LOGIN</a></li>
            {% endif %}
            {% if session['name'] %}
            <li><a href="/login">LOGOUT</a></li>
            <li><a href="/account">ACCOUNT</a></li>
            {% endif %}

          </ul>
        </nav>
      </div>
    </section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes" style="background-color:orange; font-size : 1.2em;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block body %}
    {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</html>
