<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/css/login.css">
   <title>Reserve Your Grill</title>
 </head>
 <body>
   <div class="form-group">

   <form class="form_style" action="/submit_reservation" method="POST">
   <h3> Grills available for {{date}} </h3>

   {% for query in query%}
   <button type="submit" name="{{query.name}}" class="btn btn-default">{{query.reserve_btn_display}}</button>
   {%endfor%}
   </form>
   </div>

 </body>
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
 $( function() {
   $( "#datepicker" ).datepicker();
 } );
 </script>
</html>
